body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", Verdana, sans-serif;
    min-height: 100vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.header_button {
    align-self: center;
}

.header_logo_img {
    width: 120px;
}

.invisible {
    display: none !important;
}

.messageDisplayed {
    text-align: center;
    margin-top: 40vh;
    padding-left: 20px;
    padding-right: 20px;
}

#containerItem {
    margin: 50px;
}

.grille {
    display: grid;
    place-items: center;
    min-height: 75vh;
}


._card {
    margin: 5px;
    border: solid black 1px;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    padding: 15px;
}