* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    min-height: 100%!important;
    overflow: visible;
}

body {
    font-family: "Montserrat", Verdana, sans-serif !important;
    min-height: 100vh;
    position: relative;
    display: grid;
	grid-template-rows: auto 1fr;
}

body::after {
    content: "";
    background: url(../images/icon_transparent.png) no-repeat center/100%;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-attachment: fixed;
    position: absolute;
    z-index: -1;   
}

.invisible {
    display: none !important;
}

/*****************************************************************************/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.header_logo {
    /* width: 35%; */
}

.header_logo a {
    display: block;
}

#header_logo_image {
    max-width: 100%;
    width: 300px;
}

#header_button_not_logged {
    display: flex;
}

#header_button_not_logged > .button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
    color:#2574A9;
    text-decoration: none;
    font-size: 1rem;
}

.blue {
    border: solid 2px #2574A9;
    background-color: white;
}

.inverted_blue {
    color:white!important;
    background-color: #2574A9;
    border: solid 2px #2574A9;
}

#logged_button {
   display: flex;
}

.logged_button_item {
    text-decoration: none;
    font-size: 1rem;
    margin-left: 20px; 
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 500;
}

.logged_button_item > span {
    margin-left: 5px;
}

.grey {
    color: #050709;
    border: solid 2px #050709;
    background-color: white;
}

.grey:hover {
    color:white;
    background-color: #050709;
    border: solid 2px #050709;
}

.inverted_grey {
    color:white;
    background-color: #050709;
    border: solid 2px #050709;
}

.inverted_grey:hover {
    color: #050709;
    border: solid 2px #050709;
    background-color: white;
}

@media screen and (max-width: 475px) {
    .logged_button_item {
        padding: 5px 10px;
    }

    .logged_button_item > i {
        display: none;
    }
}

/*****************************************************************************/
.messageDisplayed {
    text-align: center;
    margin-top: 25%;
    padding-left: 20px;
    padding-right: 20px;
}

/*****************************************************************************/

#container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    margin-bottom: 20px;
}

.message:hover {
    box-shadow: 0 0 3px #898989!important;
}

/** Modal Form **/
/*****************************************************************************/

#writeMessageButton {
    width: 100%;
    max-width: 550px;
    height: 35px;
    border-radius: 4px;
    color:#050709;
    background-color: #939393;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

#title-modal {
    margin-top: 0;
}

*:focus {
    box-shadow: 0 0 5px #2185d0 !important;
}

.modal {
    display: grid;
    place-items: center;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: 2;
    animation: fadeIn .3s both;
}

.modal-wrapper {
    overflow: auto;
    background: #FFF;
    max-width: 550px;
    padding: 20px;
    animation: slideFromRight .3s both;
}

#close-button {
    position: absolute;
    top:0;
    right: 0;
    border-radius: 0;
    padding: 5px;
    width: 25px;
    height: 25px;
    background-color: red;
    color: white;
}

.modify_delete_button {
    display: flex;
    justify-content: space-between;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideFromRight {
    from { transform: translateX(-50px) }
    to { transform: translateX(0px) }
}

#messageForm {
    width: 100%;
    max-width: 550px;
}

.field {
margin-top: 15px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

label {
    font-weight: bold;
    font-size: .8rem;
    margin-bottom: 5px;
}

input,
textarea {
    border: solid 1px rgba(34,36,38,.1);
    padding: 5px;
    border-radius: 4px;
    background: #fff;
    color: rgba(0,0,0,.87);
}

input {
    height: 2,5em;
    padding: 10px;
}

input::placeholder {
    color:rgba(34,36,38,.1);
}

input:active {
    color: #545454;
    border:green;
}

textarea {
    height: 4em;
    display: inline-block;
    width: auto;
}

#submitButton,
#modifyMessage,
#deleteMessage {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bolder;
    color:#050709;
    background-color: #939393;
}

/** Message **/
/*****************************************************************************/

#postbox {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

#postbox > .message {
    margin: 15px 0;
}

.message {   
    max-width: 550px;
    display: flex;
    border-radius: 4px !important;
    border: solid 1px #cccccc !important;
}

.message {
    color: #545454 !important;
    text-decoration: none;
}

.message_counter {
    background-color: lightgray;
    padding: 8px;
}

@media screen and (max-width: 475px) {
    .message_counter {
        display: none;
    }
}

.message_counter_box {
    display: flex;
    flex-direction: column;
}

.message_counter_box i {
    margin-bottom: 10px;
}

.message_counter_box i:hover {
    color: #ffd7d7;
}

.message_body {
    width: 100%;
    background-color: white;
}

.message_body_content {
    margin: 5px 10px;
}

.message_body_content_meta {
    margin-bottom: 5px;
}

.message_body_content_author {
    color: #545454;
}

.message_body_content_header {
    margin-block-end: 10px;
    margin-top: 0;
}

.message_body_content_description {
    margin-bottom: 10px;
    position: relative;
}

.message_body_content_description p {
    text-align: left;
}

.line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.blur:after {
    content: "";
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    margin: 0; 
    padding: 10px 0; 
    background-image: linear-gradient(to bottom, transparent, rgba(255,255,255,1));
}

._message_body_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.message_body_image {
display: flex;
justify-content: center;
margin-bottom: 10px;
}

.message_body_image img{
max-width: 100%;
height: auto;
border-radius: 4px;
}

.bigger{
    width: 100%;
    max-width: 515px;
    height: auto;
}

.message_body_modify {
    display: flex;
    justify-content: flex-end;
    margin: 5px 10px;

}

.message_body_modify a {
    color:#545454!important;
    text-decoration: none;
}

/** Message **/
/*****************************************************************************/

#commentbox {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    order:2;
}

.post_comment_button {
    display: flex;
    justify-content: flex-end;
    background-color: lightgray;
}

#postComment {
    padding: 2px 10px;
    margin: 3px 8px 3px 0;
    border-radius: 4px;
}

#noComment {
    text-align: center;
}

.commentError {
    margin-top: 0;
    margin-bottom: 10px;
    padding:10px;
}

#listOfComment {
    display: flex;
    flex-direction: column-reverse; 
}

.comment {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-top: solid 1px #cccccc;
    padding: 10px;
    margin-top: 10px;
}

#listOfComment .comment:last-of-type {
    margin-top: 0;
    padding-top:0;
    border-top: none;
}
#listOfComment .comment:first-of-type {
    margin-bottom: 10px;
}

.comment_body_content_meta {
    color: #545454;
    font-size: 0.75rem;
}

.delete_comment_button {
    float: right;
    padding: 5px 8px;
    border-radius: 4px;
}

hr {
    margin:20px 0 15px 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}